<tr>
  <td>
    <div class="copy-icon-container">
      <img id="{{this._id}}" class="copy-icon"
        src="https://res.cloudinary.com/dobzwgcvl/image/upload/v1600186803/shorty-app/copy.svg" alt="copy-icon">
    </div>
    <span>
      {{this.shortUrl}}
    </span>
  </td>
  <td>{{this.redirectUrl}}</td>
  <td>{{this.createdAt}}</td>
  <td>{{this.expirationDateMs}}</td>
  <td>Ativa</td>
  <td>
    <div>
      <img src="https://res.cloudinary.com/dobzwgcvl/image/upload/v1600186803/shorty-app/more.svg"
        alt="more-actions-icon">
    </div>
  </td>
</tr>