<nav>
  <div>
    <img src="/images/Logo.png" alt="Orbuk main logo">

    <img class="avatar-image" src="{{loggedUser.imageAvatar}}" alt="user-avatar">

    <span>{{loggedUser.firstName}} {{loggedUser.lastName}}</span>

    <button id="new-book">New book</button>

    <a href="/logout">Logout</a>
  </div>
</nav>

<div id="book-search">
</div>

<div id="book-result">
</div>

<div id="add-book-form">
</div>

<main>
  {{#if data}}
  <div class="books-list">
    <h2>My Books</h2>
    {{#each data}}
    <div class="book-info">
      <div class="coverURL"><img class="coverURLin" src="{{coverURL}}" alt="Cover not available"></div>
      <div class="title">Title: <span class="titlein">{{title}}</span></div>
      <div class="author">Authors:
        {{#each author}}
        <span class="authorin">{{this}}</span>
        {{/each}}
      </div>
      <div class="isbn_10">ISBN-10: <span class="isbn_10in">{{isbn_10}}</span></div>
      <div class="isbn_13">ISBN-13: <span class="isbn_13in">{{isbn_13}}</span></div>
      <div style="display:none" class="summary">Summary: <span class="summaryin">{{summary}}</span></div>
      <div class="evaluation">Evaluation: <span class="evaluationin">{{evaluation.[0].eval}}</span></div>
      <div class="readStatus">Read Status: <span class="readStatusin">{{readStatus.[0].status}}</span></div>
    </div>
    {{/each}}
  </div>

  {{else}}
  <div class="empty-books">
    <h2>There are no books yet</h2>
  </div>
  {{/if}}
</main>

<section id="book-edit">

</section>

<section>
  <h2>Most read</h2>
  {{#if mostRead}}
  <div class="most-read-list">
    {{#each mostRead}}
    <div class="read-book-info">
      <div class="title">Title: <span>{{title}}</span></div>
      <div class="readStatus">Read count: <span>{{size}}</span></div>
    </div>
    {{/each}}
  </div>

  {{else}}
  <div class="empty-books">
    <h2>There are no read books yet</h2>
  </div>
  {{/if}}
</section>

<section>
  <h2>Most recommended</h2>
  {{#if mostRec}}
  <div class="most-rec-list">
    {{#each mostRec}}
    <div class="rec-book-info">
      <div class="title">Title: <span>{{title}}</span></div>
      <div class="evaluation">Up count: <span>{{size}}</span></div>
    </div>
    {{/each}}
  </div>

  {{else}}
  <div class="empty-books">
    <h2>There are no recommended books yet</h2>
  </div>
  {{/if}}
</section>

<script src="/javascripts/dashboard.js" charset="utf-8"></script>