<form action="/forgotpass" method="post">
<div>
    <label for="username">E-mail</label>
    <input type="text" name="username" id="username" onkeyup="manage(this)">
    {{#if usernameError}}
    <div>
        <span>{{usernameError}}</span>
    </div>
    {{/if}}
</div>

<div>
    <label for="phone">Telephone</label>
    <input type="text" name="phone" id="phone" onkeyup="manage(this)" onkeypress="return isNumberKey(event)">
</div>

<div>
    <p>Secret Question</p>
    <select name="secretQuestion">
        <option value="What was your childhood nickname?">What was your childhood nickname?</option>
        <option value="What is the name of your favorite childhood friend?">What is the name of your favorite childhood
            friend?</option>
        <option value="What was the name of your first pet?">What was the name of your first pet?</option>
        <option value="What is your mothers maiden name?">What is your mothers maiden name?</option>
    </select>
</div>


<div>
    <label for="secretAnswer">Secret Answer</label>
    <input type="text" name="secretAnswer" id="secretAnswer" onkeyup="manage(this)">
    {{#if secretAnswerError}}
    <div>
        <span>{{secretAnswerError}}</span>
    </div>
    {{/if}}
</div>


<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" onkeyup="manage(this)">
    {{#if passwordError}}
    <div>
        <span>{{passwordError}}</span>
    </div>
    {{/if}}
</div>

<div>
    <label for="confirmationPassword">Confirm Password</label>
    <input type="password" name="confirmationPassword" id="confirmationPassword" onkeyup="manage(this)">
    {{#if confirmationPasswordError}}
    <div>
        <span>{{confirmationPasswordError}}</span>
    </div>
    {{/if}}
</div>

{{#if errorMessage}}
<div>
    <span>{{errorMessage}}</span>
</div>
{{/if}}

<input type="submit" id="submit" value="Submit" disabled />

<a href="/">Cancel</a>

<script>
    function manage(txt) {
        var bt = document.getElementById('submit');
        var ele = document.getElementsByTagName('input'); 

        for (i = 0; i < ele.length; i++) {

            if ((ele[i].type === 'text'|| ele[i].type === 'password') && ele[i].value == '') {
                bt.disabled = true;    // Disable the button.
                return false;
            }
            else {
                bt.disabled = false;   // Enable the button.
            }
        }
    }

    function isNumberKey(event){
        if (event.keyCode > 31 && (event.keyCode < 48 || event.keyCode > 57))
            return false;
        return true;
    }
  </script>
</form>