<form action="/signup" method="post">
  <div>
    <label for="fullName">Nome Completo</label>
    <input type="text" name="fullName" id="fullName" placeholder="Digite seu nome completo">

    {{#if fullNameError}}
    <div>
      <span>{{fullNameError}}</span>
    </div>
    {{/if}}
  </div>

  <div>
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email" placeholder="Digite seu e-mail">
    {{#if emailError}}
    <div>
      <span>{{emailError}}</span>
    </div>
    {{/if}}
  </div>

  <div>
    <label for="cpf">CPF</label>
    <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF">
    {{#if cpfError}}
    <div>
      <span>{{cpfError}}</span>
    </div>
    {{/if}}
  </div>

  <div>
    <label for="password">Senha</label>
    <input type="password" name="password" id="password" placeholder="Digite sua senha">
    {{#if passwordError}}
    <div>
      <span>{{passwordError}}</span>
    </div>
    {{/if}}
  </div>

  <div>
    <label for="confirmationPassword">Confirmação de Senha</label>
    <input type="password" name="confirmationPassword" id="confirmationPassword" placeholder="Confirme sua senha">
    {{#if confirmationPasswordError}}
    <div>
      <span>{{confirmationPasswordError}}</span>
    </div>
    {{/if}}
  </div>

  {{#if errorMessage}}
  <div>
    <span>{{errorMessage}}</span>
  </div>
  {{/if}}

  <button type="submit">Cadastrar</button>

  <a href="/login">
    <button type="button">Entrar com minha conta</button>
  </a>
</form>